/*1200px oder schmaler*/
/*992px oder schmaler*/
/*768px oder schmaler*/
/*576px oder schmaler*/
.header__nav {
  width: 100%;
  height: auto;
  background-color: rgba(135, 138, 148, 0.9);
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  padding-bottom: 0.5rem;
  z-index: 10;
}

.header__nav-logo {
  height: 4rem;
  width: auto;
  padding-left: 2rem;
  padding-top: 0.85rem;
}

.header__nav-list {
  display: inline-block;
  padding-left: 0.25rem;
  font-weight: 800;
  font-size: 1.1rem;
}

.header__nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.header__nav-link:hover {
  color: #E5E5E5;
  background-color: #1F4E8C;
}

.header__nav-link--active {
  background-color: #A62C21;
}

.header {
  width: 100%;
  height: 0;
  padding-top: 20.83%;
  background: url(../images/hintergrund.jpg) no-repeat;
  background-size: contain;
}
.header--small {
  padding-top: 15.625%;
  background: url(../images/hintergrund-klein.jpg) no-repeat;
  background-size: contain;
}

/*Grid-System*/
.header__grid-container {
  width: 100%;
}

.header__row::after {
  clear: both;
  content: " ";
  display: block;
}

.col {
  float: left;
  width: 16.66%;
  padding: 1rem;
  border: 1px solid black;
}
.col--2 {
  width: 33.33%;
}
.col--3 {
  width: 50%;
}
.col--6 {
  width: 100%;
}

@media (max-width: 62em) {
  .col {
    width: 33.33%;
  }
  .col--3 {
    width: 50%;
  }
  .col--6 {
    width: 100%;
  }
}
@media (max-width: 48em) {
  .col {
    width: 50%;
  }
  .col--2 {
    width: 100%;
  }
  .col--3 {
    width: 100%;
  }
  .col--6 {
    width: 100%;
  }
}
@media (max-width: 36em) {
  .col {
    width: 100%;
  }
  .col--2 {
    width: 100%;
  }
  .col--3 {
    width: 100%;
  }
  .col--6 {
    width: 100%;
  }
}
.mobile-nav-button {
  color: white;
  font-size: 2rem;
  border: 2px solid white;
  padding: 0 0.7rem;
  font-weight: 800;
  position: absolute;
  top: 1rem;
  right: 1.21rem;
  display: none;
}
@media (max-width: 48em) {
  .mobile-nav-button {
    display: block;
  }
}

#navi {
  display: none;
}

.mobile-nav-content {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}

@media (max-width: 48em) {
  .header__nav {
    background-color: #878a94;
  }
  .mobile-nav-content {
    width: 0;
    position: absolute;
    overflow: hidden;
  }
  .header__nav-list {
    display: block;
    padding-top: 1rem;
  }
  .header__nav-list > a:hover {
    background-color: #1F4E8C;
  }
  #navi:checked ~ .mobile-nav-content {
    width: auto;
    right: 0;
    top: 4.75rem;
    background-color: #878a94;
    z-index: 5;
    padding: 1rem;
  }
}
/*
.mobile-nav-content{
    display:block;

    @media(max-width:$breakpoint-sm){
        display:none;
    }

}





.mobile-nav-content > ul{
    position:absolute;
    right:2rem;
    top:1.25rem;

    @media(max-width:$breakpoint-sm){
        right:3.95rem;
        height:0;

    }


}

.mobile-nav-content > ul > li{
    display:inline-block;
    background-color:$color-primary-dark;
    padding:0.5rem;
    height:3rem;

    @media(max-width:$breakpoint-sm){
        display:block;

    }


}*/
.footer {
  background-color: #A62C21;
  color: white;
  font-size: 1rem;
  display: flex;
  width: 100%;
  position: relative;
  padding: 1rem;
}

.footer__link {
  position: absolute;
  right: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
.footer__link:hover {
  text-decoration: underline;
}

.page__leistungen-sub {
  padding: 0 1.5rem 1rem 1.5rem;
}

.page__leistung-container {
  display: flex;
  width: 100%;
  padding: 1.5rem 1.5rem 5rem 1.5rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.page__leistung-card {
  background-color: #878a94;
  padding: 1rem 1rem 2rem 1rem;
  flex: 0 0 18rem;
  text-align: center;
  transition: transform 1s ease-in-out;
  box-shadow: 0 0 11px 0 black;
  margin-top: 2rem;
}
@media (max-width: 36em) {
  .page__leistung-card {
    flex: 0 0 90%;
  }
}
.page__leistung-card--middle {
  flex: 0 0 22rem;
  min-height: 30rem;
  font-size: 1.15rem;
}
@media (max-width: 36em) {
  .page__leistung-card--middle {
    flex: 0 0 90%;
    min-height: initial;
    font-size: 1rem;
  }
}
.page__leistung-card:hover {
  transform: scale(1.15);
}

.page__leistung-card > ul {
  padding-left: 1rem;
  padding-top: 1.5rem;
  color: white;
  padding-bottom: 1rem;
}

.page__leistung-list--button {
  padding-bottom: 1rem;
}

.page__leistung-heading {
  padding-bottom: 1rem;
  font-size: 1.25rem;
  color: white;
  text-align: left;
}

.page__leistung-sub {
  text-align: left;
}

.contact {
  width: 100%;
  padding-bottom: 3rem;
}

.contact__form-name {
  width: 100%;
}

.contact__heading-sub {
  padding: 0 10% 3rem 10%;
}

#contact__form {
  padding-left: 10%;
  padding-right: 2rem;
}

#firstname, #secondname {
  width: 15rem;
  padding: 0.5rem;
  color: #A62C21;
}
#firstname:placeholder-shown, #secondname:placeholder-shown {
  color: black;
}

#email {
  width: 15rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: #A62C21;
}
#email:placeholder-shown {
  color: black;
}

#anfrage {
  width: 30.5rem;
  height: 20rem;
  resize: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: #A62C21;
}
#anfrage:placeholder-shown {
  color: black;
}
@media (max-width: 48em) {
  #anfrage {
    width: 95%;
  }
}

.form__contact {
  outline: 1px solid gray;
  font-weight: 700;
}
.form__contact:focus {
  outline: 2px solid #1F4E8C;
}

.form__container {
  display: flex;
  width: 100%;
}

.form__container-left {
  width: 70%;
}
@media (max-width: 36em) {
  .form__container-left {
    display: none;
    width: 100%;
  }
}

.form__container-right > a {
  color: transparent;
}

@media (max-width: 48em) {
  .form__container-right {
    width: 0;
  }
}
@media (max-width: 36em) {
  .form__container-right {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.form__container-right > a:hover {
  color: black;
  font-weight: 700;
}
@media (max-width: 48em) {
  .form__container-right > a:hover {
    color: transparent;
  }
}
@media (max-width: 36em) {
  .form__container-right > a:hover {
    color: transparent;
  }
}

.form__icon-content {
  background-color: #A62C21;
  padding: 1rem;
  border-radius: 99999px;
  box-shadow: 0 0 20px black;
  border: 1px solid white;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
@media (max-width: 48em) {
  .form__icon-content {
    margin-left: 3.5rem;
    margin-right: 10rem;
    display: none;
  }
}
@media (max-width: 36em) {
  .form__icon-content {
    margin-left: 1.5rem;
    margin-right: 2rem;
    padding: 0.5rem;
    display: block;
  }
}

.form__icon {
  border: 2px solid white;
  border-radius: 9999px;
  padding: 2rem;
}
@media (max-width: 36em) {
  .form__icon {
    padding: 1rem;
  }
}

.icon__form {
  fill: white;
}

.impressum {
  padding: 2rem;
}

@media (max-width: 36em) {
  .impressum__mobilde-hidden {
    display: none;
  }
}

* {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "", Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(231, 225, 225);
}

::selection {
  color: white;
  background-color: #A62C21;
}

@font-face {
  font-family: "Meddon";
  src: url(../../lib/fonts/Meddon/Meddon-Regular.ttf);
}
.button {
  padding: 0.275rem 0.5rem;
  color: white;
  border-radius: 5px;
  background-color: #A62C21;
  border: none;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.button:hover {
  color: rgb(240, 234, 234);
  background-color: #d63c2f;
}

.button--leistungen {
  background-color: #A62C21;
  padding: 0.25rem 1.5rem;
  text-decoration: none;
  color: white;
  border: 2px solid #A62C21;
}
.button--leistungen:hover {
  background-color: #91261d;
  color: #e6e6e6;
}

.newsletter__content {
  background-color: #878a94;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 36em) {
  .newsletter__content {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.newsletter__content-left {
  color: white;
  padding: 1rem;
  width: 50%;
}
@media (max-width: 36em) {
  .newsletter__content-left {
    width: 100%;
    text-align: center;
  }
}

.newsletter__content-right {
  display: inline-block;
  width: 50%;
  text-align: right;
  margin-right: 1rem;
}
@media (max-width: 36em) {
  .newsletter__content-right {
    width: 100%;
    text-align: center;
    padding-top: 0.25rem;
    padding-bottom: 1rem;
  }
}

.newsletter__textfield {
  padding: 0.125rem;
  outline: none;
  margin-right: 0.25rem;
}

.heading {
  padding: 1rem 1rem 0.25rem 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  color: #A62C21;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
}
.heading--page__leistung {
  padding-top: 5rem;
}
@media (max-width: 48em) {
  .heading {
    font-size: 1.8rem;
    font-weight: 800;
  }
}
@media (max-width: 36em) {
  .heading {
    font-size: 1.4rem;
    font-weight: 800;
  }
}

.container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px black;
  background-color: white;
}

.leistungen {
  background-color: white;
}

.leistungen__container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  justify-content: center;
  background-color: white;
}

.container__content {
  background-color: #878a94;
  height: 15rem;
  flex: 0 0 32rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.leistungen__container-top, .leistungen__container-bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.leistungen__heading {
  font-size: 2.4rem;
  font-weight: 800;
  padding-top: 5rem;
  padding-bottom: 0.25rem;
  text-align: center;
  color: #A62C21;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.leistungen__sub {
  padding-bottom: 4rem;
  text-align: center;
}

.leistung__content-heading {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.leistung__content-sub {
  color: black;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.video__content {
  text-align: center;
  color: white;
  background-color: #878a94;
  text-shadow: 0 0 5px black;
  padding-bottom: 3rem;
}

.video__heading {
  font-size: 2.4rem;
  padding-top: 2.5rem;
  font-weight: 800;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #A62C21;
  text-shadow: none;
}

.video__sub {
  padding: 0.15rem 1rem 2.5rem 1rem;
}

.video {
  width: 50%;
  box-shadow: 0 0 20px black;
}
@media (max-width: 62em) {
  .video {
    width: 65%;
  }
}
@media (max-width: 48em) {
  .video {
    width: 75%;
  }
}
@media (max-width: 36em) {
  .video {
    width: 100%;
  }
}

.services__heading {
  font-size: 2.4rem;
  font-weight: 800;
  padding-top: 5rem;
  padding-bottom: 0.25rem;
  text-align: center;
  color: #A62C21;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.services__sub {
  padding: 0.5rem 2.5rem 3rem 2.5rem;
  text-align: center;
}

.services__icon {
  background-color: #878a94;
  width: 100%;
  padding: 1rem;
  border-radius: 9999px;
  width: 5rem;
  line-height: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(0);
  transition: transform 1s linear;
}
.services__icon:hover {
  transform: rotate(360deg) scale(1.1);
}

.icon {
  fill: white;
}

.services__card-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.services__card {
  text-align: center;
  flex: 0 0 20rem;
  padding: 1rem;
  margin: 1rem;
}

.services__cards-heading {
  padding: 1rem 1rem 0.25rem 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #A62C21;
}

.services__cards-sub {
  text-align: center;
  padding: 0 0.5rem 1.5rem 0.5rem;
}

.services__animation {
  background-color: #878a94;
  width: 5rem;
  border-radius: 9999px;
  margin: 2rem auto 0.5rem auto;
}

.services__animation-logo {
  width: 5rem;
  padding: 0.75rem;
  animation: logo-rotate 10s infinite;
}

@keyframes logo-rotate {
  0% {
    transform: rotate(0);
  }
  12.5% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  37.5% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62.5% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87.5% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about {
  background-color: white;
}

.about__header {
  width: 100%;
  text-align: center;
  padding-top: 3rem;
}

.about__header-heading {
  padding: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  color: #A62C21;
}

.about__content {
  display: flex;
  padding-bottom: 5rem;
}

.about__content-text {
  padding: 1rem 1rem 1rem 1rem;
}

.about__content-logo {
  width: 30%;
  background-image: url(../images/webdesign-logo-vertical.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.about__content-placeholder {
  width: 30%;
}

.screenreader {
  display: none;
}

/*# sourceMappingURL=style.css.map */
